{% extends 'base.html.twig' %}

{% block title %}BookCollection index{% endblock %}

{% block body %}
<div  class="container">

    <h1>Liste des collections :</h1>

    <table class="table mb-5">
        <thead>
            <tr>
                <th>Id : </th>
                <th>Nom : </th>
                <th>actions : </th>
            </tr>
        </thead>
        <tbody>
        {% for book_collection in book_collections %}
            <tr>
                <td>{{ book_collection.id }}</td>
                <td>{{ book_collection.name }}</td>
                <td>
                    <a class="link" href="{{ path('app_book_collection_show', {'id': book_collection.id}) }}">Voir</a>
                    <a class="link" href="{{ path('app_book_collection_edit', {'id': book_collection.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Pas de collection</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('app_book_collection_new') }}">Créer</a>

</div>
{% endblock %}
