{% extends 'base.html.twig' %}

{% block title %}Hello BooksController!{% endblock %}

{% block body %}

<div class="container">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p class="text-2xl text-red-300">Liste de vos livres</p>

    <div class="flex ">
            {% for book in books %}
                <div class="border  p-4">
                    <h2>Titre : {{ book.title }}</h2>
                    <p>{{ book.description }}</p>
                    <p>Auteur : {{ book.author }}</p>
                    <a href="{{ path('book_show', {'id': book.id}) }}">Voir</a>
                </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
